<nav class="navbar fixed-top navbar-light" style="background-color: #e3f2fd;"><h4>Test 3 page</h4></nav>
<div class="container">
  <div class="flex-row">
    <label class="col-form-label">Parent Element name: {{parentName}}</label>
    <br/>
    <label class="col-form-label">Child Element name:</label>
    <br/>
    <input class="form-control" ng-model="newElement.name"/>
    <label class="col-form-label">Child Element description:</label>
    <textarea class="form-control" ng-model="newElement.description"></textarea>
    <br/>
    <div class="d-flex justify-content-between">
      <button class="btn btn-sm btn-outline-success" ng-click="createElement(newElement)">Save</button>
      <button class="btn btn-sm btn-outline-primary" ng-click="cancelCreate()">Cancel</button>
    </div>
  </div>
</div>